/PERTEMUAN9/TechnoShop/build/
/PERTEMUAN12/jfc-mvc/nbproject/private/
/PERTEMUAN12/jfc-mvc/build/
/Tubes/RegistrasiMasyarakat/nbproject/private/
/PERTEMUAN13/jfc-konkurensi/nbproject/private/
/PERTEMUAN13/jfc-konkurensi/build/
